< !DOCTYPE html><html><head><title>This is a title</title>div {
  padding-top: 20px;
  background-color: rgb(15, 131, 209);
  text-align: left;
}

.first-background {
  padding-top: 20px;
  background-color: rgb(249, 253, 1);
  text-align: left;
}


span {
  padding-left: 40px;
  background-color: lightslategray;
  border: 3px solid rgb(248, 1, 1);
}

#second-border {
  padding-left: 40px;
  background-color: lightslategray;
  border: 3px solid rgb(26, 114, 214);
}

</head><body>01 hello world ! 01 <div class="first-background">02 hello world ! 02 <span>07 hello world ! 07</span></div><div>03 hello world ! 03 <span>04 hello world ! 04</span></div><div class="first-background">05 hello world ! 05 <span id="second-border">06 hello world ! 06</span></div></body></html>