.header{
    background-color: cadetblue;
    color :wheat;
    text-align:center;
    padding: 20px;

}
.menu {
    background-color: grey;
    padding: 10px;
    text-align: center;
   
}

.menu a {
    background-color: darkcyan;
    padding: 10px 20px;
    color: wheat;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
.container {
    background-color: blanchedalmond;
    max-width: 900px;
    margin: 10px auto;   
    
    

}

.container a {

    padding: 10px 10px;
    color:black;    
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    background-color: green;
}

hr {
    border: 1px solid grey;
    margin: 20px 0;
}

.contact-info {
    background-color: grey;
}

.section {
    background-color: lemonchiffon;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;

}




.footer {
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

